@font-face {
  font-family: "lato";
  src: url("../css/fonts/lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "lato-italic";
  src: url("../css/fonts/lato/Lato-Italic.ttf");
}
@font-face {
  font-family: "lato-black";
  src: url("../css/fonts/lato/Lato-Black.ttf");
}

@font-face {
  font-family: "caveat";
  src: url("../css/fonts/Caveat/Caveat-Regular.ttf");
}
@font-face {
  font-family: "caveat-bold";
  src: url("../css/fonts/Caveat/Caveat-Bold.ttf");
}
