//site colors
$site-white: #fff;
$green: #a7e8bd;
$site-black: #000;
$light-pink: #fcbcb8;
$pink: #efa7a7;
$yellow: #ffd972;
$scarlet: #f25c54;

// fonts
// $caveat: "Caveat", cursive;
// $lato: "Lato", sans-serif;

// sass variables were not working and being very inconsistent, only $scarlet seemed to work
