* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

h1 {
  font-family: "caveat-bold";
  font-size: 30px;
  color: #000; }

.logo {
  position: absolute;
  top: 38px;
  left: 50px;
  width: 168px;
  height: 55px;
  z-index: 99; }

.nav-holder {
  position: absolute;
  top: 38px;
  right: 50px;
  height: 52px;
  width: 600px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "caveat";
  font-size: 25px;
  cursor: pointer; }
  .nav-holder a {
    cursor: pointer;
    text-decoration: none;
    color: #000; }
  .nav-holder #login {
    background-color: #ffd972;
    border-radius: 35px;
    padding: 12px 60px; }

.bars {
  position: absolute;
  z-index: 100;
  top: 55px;
  right: 35px;
  width: 35px;
  height: 50px;
  cursor: pointer;
  display: none; }

@media all and (max-width: 768px) {
  .nav-holder {
    display: none;
    background-color: green;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    flex-direction: column-reverse;
    justify-content: space-around; }
  .bars {
    display: block; } }

@font-face {
  font-family: "lato";
  src: url("../css/fonts/lato/Lato-Regular.ttf"); }

@font-face {
  font-family: "lato-italic";
  src: url("../css/fonts/lato/Lato-Italic.ttf"); }

@font-face {
  font-family: "lato-black";
  src: url("../css/fonts/lato/Lato-Black.ttf"); }

@font-face {
  font-family: "caveat";
  src: url("../css/fonts/Caveat/Caveat-Regular.ttf"); }

@font-face {
  font-family: "caveat-bold";
  src: url("../css/fonts/Caveat/Caveat-Bold.ttf"); }

.home-container {
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -5; }
  .home-container .yellow-circle {
    background-color: #ffd972;
    width: 350px;
    height: 350px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; }
    .home-container .yellow-circle .yellow-text-cont {
      width: 161px; }
      .home-container .yellow-circle .yellow-text-cont h1 {
        margin-bottom: 35px; }
      .home-container .yellow-circle .yellow-text-cont p {
        font-family: "lato";
        text-align: center; }
  .home-container .pink-circle {
    background-color: #fcbcb8;
    width: 200px;
    height: 200px;
    border-radius: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
    bottom: 175px;
    left: 175px; }
    .home-container .pink-circle p {
      text-align: center;
      width: 125px;
      font-family: "lato"; }

.recipe-container {
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.7), rgba(167, 232, 189, 0.7)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: absolute; }
  .recipe-container .content-wrapper {
    width: 81%;
    height: auto;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 75px; }
    .recipe-container .content-wrapper h1 {
      margin-bottom: 30px;
      width: 100%; }
    .recipe-container .content-wrapper .recipe-box {
      width: 525px;
      height: 265px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: row; }
      .recipe-container .content-wrapper .recipe-box .food-thumbnail {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 300px;
        height: 265px;
        border-radius: 30px; }
      .recipe-container .content-wrapper .recipe-box .pizza-img {
        background-image: url(../images/recipe-pizza.jpg); }
      .recipe-container .content-wrapper .recipe-box .burger-img {
        background-image: url(../images/recipe-burger.jpg); }
      .recipe-container .content-wrapper .recipe-box .chicken-img {
        background-image: url(../images/recipe-pilaf.jpg); }
      .recipe-container .content-wrapper .recipe-box .chow-mein-img {
        background-image: url(../images/recipe-chowmein.jpg); }
      .recipe-container .content-wrapper .recipe-box .food-info {
        width: 223px;
        height: 264px;
        background-color: #fff;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .recipe-container .content-wrapper .recipe-box .food-info .text-container {
          width: 140px;
          display: flex;
          flex-direction: column; }
          .recipe-container .content-wrapper .recipe-box .food-info .text-container h3 {
            font-family: "lato-black";
            font-size: 18px;
            text-align: center;
            border-bottom: solid 4px #000; }
          .recipe-container .content-wrapper .recipe-box .food-info .text-container p {
            font-size: 11px;
            font-family: "lato"; }
          .recipe-container .content-wrapper .recipe-box .food-info .text-container .timer {
            width: 100px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px; }
            .recipe-container .content-wrapper .recipe-box .food-info .text-container .timer .timer-img {
              width: 25px;
              height: 25px;
              background-image: url(../images/time.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              margin-left: 20px;
              margin-right: 5px; }
            .recipe-container .content-wrapper .recipe-box .food-info .text-container .timer .timer-info {
              margin-bottom: 0px; }
          .recipe-container .content-wrapper .recipe-box .food-info .text-container .serve {
            width: 100px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between; }
            .recipe-container .content-wrapper .recipe-box .food-info .text-container .serve .serve-img {
              width: 25px;
              height: 25px;
              background-image: url(../images/servings.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              margin-left: 20px;
              margin-right: 5px; }
            .recipe-container .content-wrapper .recipe-box .food-info .text-container .serve .serve-info {
              margin-bottom: 0px; }

.login-container {
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #ffd972; }
  .login-container .content-wrapper {
    width: 85%;
    height: 100%;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px; }
    .login-container .content-wrapper .col1 {
      display: flex;
      flex-direction: column; }

footer {
  position: absolute;
  bottom: 38px;
  width: 95%;
  z-index: 98;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "lato-italic"; }
  footer .copyright {
    width: auto;
    color: #393939; }
  footer .footer-links {
    width: auto; }
    footer .footer-links a {
      text-decoration: none;
      color: #393939;
      margin-right: 20px; }
  footer .social-media {
    width: auto; }
    footer .social-media .icons {
      margin-left: 45px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      color: #393939; }
